#container{
    display: grid;
    grid-template-columns: [voltar] 1fr [nome] 5fr [avancar] 1fr;
}

#bordaDoNome{
    grid-area: nome;
    justify-self: center;
    align-self: center;
      
}

#nome {
    border: #ffe81f 9px solid;
    border-radius: 10px;
    width: fit-content;
    padding: 1em;
    

    color: #ffe81f;
    font-family: 'New Gothic';
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    white-space: nowrap;
    
    margin: 0;
}

#avancar {
    grid-area: avancar;
}

#voltar {
    grid-area: voltar;
}